html
    head
        link(rel='stylesheet', href='style/main.css')
        link(rel='stylesheet', href='vex/css/vex.css')
        link(rel='stylesheet', href='vex/css/vex-theme-os.css')
        script(src='/socket.io/socket.io.js')
        script(src='jquery')
        script(src='vex/js/vex.combined.min.js')
        script(src='main.js')
    body
        h1 CoList
        section#app